html,
body {
	font-family: "Alegreya Sans", sans-serif;
	height: 100%;
}

h1 {
	font-family: "Galindo", cursive;
	line-height: 10px;
	font-size: 140%;
}

h2 {
	font-family: "Galindo", cursive;
	font-size: 240%;
	color: #3f3f3f;
}

h3 {
	font-size: 180%;
}

h5 {
	font-size: 1.2em;
	font-weight: 200;
	margin-top: 10px;
	margin-bottom: 6px;
}

p {
	color: #3f3f3f;
	font-size: 120%;
	font-weight: 100;
	line-height: 90%;
}

.fine-print {
	font-size: 0.9em;
}

.fixed-center {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-color: #fff;
	text-align: center;
}

.locations-panel {
	position: absolute;
	width: 32%;
	height: 80vh;
	top: 10px;
	left: 6%;
}

.title-panel {
	color: #555;
	cursor: help;
	font-family: "Alegreya Sans", sans-serif;
	text-align: right;
	margin: 16px;
	padding: 15px 20px;
	width: 200px;
	-webkit-transform: translateZ(0); /* webkit flicker fix */
	-webkit-font-smoothing: antialiased; /* webkit text rendering fix */
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0.7;
	filter: alpha(opacity=70);
	filter: alpha(opacity=50);
	padding: 2px;
}

.filter {
	margin: 2px auto 0 0;
	position: relative;
	bottom: 0;
	display: inline-block;
	line-height: 1;
}

.filter-label {
	font-weight: 400;
	font-size: 1.1em;
	padding: 6px 9px;
	margin-right: 4px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: pointer;
	background-color: #ccc;
	border-radius: 8px;
	display: block;
	box-shadow: 4px 4px 3px #888;
}

.location-details-container {
	padding: 10px;
	font-size: 1.3em;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked + .filter-label {
	background-color: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-bottom: 6px;
}

.strong {
	font-weight: 900;
}

.horizontal-line {
	margin-top: 5px;
	margin-bottom: 0;
	border: 0;
	border-top: 1px solid #b2d0fb;
}

.search {
	font-size: 1.3em;
	margin-bottom: 10px;
	margin-top: 10px;
}

.search-input {
	padding: 5px;
	border: none;
	border-radius: 8px;
	width: 100%;
	opacity: 0.7;
	filter: alpha(opacity=70);
	box-shadow: 4px 4px 3px #888;
}

.full-screen {
	position:fixed !important;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.locations {
	width: 100%;
	height: 30%;
	border-top: 4px;
}

/* location list with mobile touch scrolling */
.location-list {
	height: 100%;
	overflow-y: scroll;
	padding: 5px;
	-webkit-overflow-scrolling: touch;
	margin-right: 2px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-color: #fff;
	border-radius: 8px;
	display: block;
	box-shadow: 4px 4px 3px #888;
}

.location-item {
	list-style: none;
	cursor: pointer;
	margin-left: 10px;
}

.location-img {
	opacity: 1;
	filter: alpha(opacity=100);
	margin: 10px;
}

/* fluid horizontal-scrollable row for photos */
.row-fluid {
	white-space: nowrap;
}

.row-fluid .col-lg-3 {
	display: inline-block;
}

/* Google Maps infowindow styling referenced from app.js */
.info-window {
	max-width: 240px;
	max-height: 240px;
}

.window-title {
	font-size: 2em;
	font-weight: 500;
	line-height: 95%;
	font-family: "Alegreya Sans", sans-serif;
}

.window-description {
	font-size: 1.2em;
	font-weight: 100;
	font-family: "Alegreya Sans", sans-serif;
}

/* Collapsible Bar */
nav {
	position: absolute;
	z-index: 98;
	top: -1600px;
	left: 0;
	right: 0;
	background: #fff;
	-webkit-transition: all 1.0s;
	transition: all 1.0s;
	padding: 10px 0 40px 0;
	display: block;
	background-color:rgba(255, 255, 255, 0.9);
}

.open {
	top: 0;
}

.menu-btn {
	cursor: pointer;
	background-image: url("../img/close.png");
	height: 48px;
	width: 114px;
	background-size: cover;
	display: inline;
	z-index: 99;
	position: fixed;
	top: 500;
	right: 0;
}

/* Tooltip "Pure CSS Tooltips" by greypants on jsfiddle.net */
.title-panel .tooltip {
	background: #000;
	bottom: 100%;
	color: #fff;
	display: block;
	left: -25px;
	margin-bottom: 15px;
	opacity: 0;
	filter: alpha(opacity=0);
	padding: 20px;
	pointer-events: none;
	position: absolute;
	width: 100%;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all .25s ease-out;
	moz-transition: all .25s ease-out;
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* Part of "Pure CSS Tooltips": this bridges the gap so you can mouse into the tooltip without it disappearing */
.title-panel .tooltip:before {
	bottom: -20px;
	content: " ";
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
}

.title-panel:hover .tooltip {
	opacity: 1;
	filter: alpha(opacity=100);
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.lte8 .wrapper .tooltip {
	display: none;
}

.lte8 .wrapper:hover .tooltip {
	display: block;
}